NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=xxxx
CLERK_SECRET_KEY=xxxx

API_BASE_URL=http://localhost:3000       # Base URL for internal API calls (set to deployed URL in production)
DATABASE_URL=postgresql://user:pass@ep-...neon.tech/neondb?sslmode=require
MOCK_API_USERS=xxx
JSON_PLACEHOLDER_USERS=xxx
